{#
/**
 * @file
 * Contiene texto de explicación
 */
#}

<div class='gestion-citas-description'>
{% trans %}
    <p>Esta pagina contiene información acerca de las citas</p>
    <p>Listado de citas</p>
    <p>Operaciones de editar y eliminar</p>
{% endtrans %}
</div>